{
  "root": true,
  "env": {
    "es6": true,
    "node": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "extends": ["airbnb-base"],
  "globals": {
    "fetch": false,
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": false
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["jest", "prettier"],
  "rules": {
    "no-use-before-define": "error",
    "no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "^_",
        "argsIgnorePattern": "^_"
      }
    ],
    "quotes": "error",
    "eol-last": ["error", "always"],
    "import/prefer-default-export": 2,
    "one-var": "off",
    "one-var-declaration-per-line": "off",
    "new-cap": "off",
    "consistent-return": "off",
    "no-useless-catch": "off",
    "no-param-reassign": 0,
    "comma-dangle": 0,
    "global-require": "off",
    "arrow-body-style": [0, "as-needed"],
    "import/no-dynamic-require": 0,
    "no-shadow": ["error", { "hoist": "functions" }],
    "curly": ["error", "multi-line"],
    "import/no-unresolved": [2, { "commonjs": true }],
    "arrow-parens": 0,
    "object-curly-newline": 0,
    "no-await-in-loop": 0,
    "no-restricted-syntax": 0
  }
}
